<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <table class="table table-hover">
            <thead>
              <tr>
                 <th>#</th>
                 <th>OrderId</th>
                 <th>Symbol</th>
                 <th>Type</th>
                 <th>Side</th>
                 <th>LimitPrice</th>
                 <th>StopPrice</th>
                 <th>Quantity</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                 <th scope="row">1</th>
                 <td>INFY</td>
                 <td>MARKET</td>
                 <td>BUY</td>
                 <td>0</td>
                 <td>123</td>
                 <td>1</td>
                 <td>12</td>
              </tr>
            </tbody>
        </table>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <order-list></order-list>
      </div>
    </div>
  </div>
</div>